Repository zavolanlab/zarp, pull requests merged in 2021-09, with the labels that each got.

#8 ci: transfer current ci tests from GitLab framework into GitHub Actions
  .github/workflows/ci.yml
  .gitlab-ci.yml
  README.md
Labels: enhancement, ci

#9 docs: correct uppercase/lowercase typo
  README.md
Labels: bug, documentation

#11 Update git repo link on REAME.md
  README.md
Labels: documentation
