Repository zavolanlab/zarp, pull requests merged in 2021-11, with the labels that each got.

#29 chore: bump TIN score version
  workflow/Snakefile
  workflow/envs/tin-score-calculation.yaml
Labels: enhancement

#28 bugfix: temp dir specification for singularity runs
  tests/input_files/rule_config.yaml
Labels: bug, help wanted

#31 update resources in slurm-config.json
  profiles/slurm-config.json
Labels: good first issue, invalid

#37 Add citation cff file and add biorxiv svg link in readme.md
  CITATION.cff
  README.md
Labels: documentation
